@model IEnumerable<OnlineStore.Domain.Products>

<div class="row">

    
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img @* width="150" height="150"*@ src="@Url.Action("GetImageProductById", "Home", new { productID = item.ProductID })" />
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.ProductName)</h3>
                        <p>@Html.DisplayFor(modelItem => item.UnitPrice)</p>
                        <p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="@Url.Action("Product", "Home", new { productID = item.ProductID })" class="btn btn-default" role="button">Show</a></p>
                    </div>
                </div>
            </div>
        }</div>

    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Older</a>
        </li>
        <li class="next">
            <a href="#">Newer &rarr;</a>
        </li>
    </ul>


